.table_tr1 td:nth-child(1) span{
	display:block;
	width:35px;
}
.table_tr1 td:nth-child(2) span{
	display:block;
	width:35px;
}
.table_tr1 td:nth-child(3) span{
	display:block;
	width:35px;
}
.table_tr1 td:nth-child(4) span{
	display:block;
	width:35px;
}
.table_tr1 td:nth-child(5) span{
	display:block;
	width:35px;
}

@media (min-width: 768px){
	.table_tr1 td:nth-child(1) span{
		display:block;
		width:150px;
	}
	.table_tr1 td:nth-child(2) span{
		display:block;
		width:150px;
	}
	.table_tr1 td:nth-child(3) span{
		display:block;
		width:150px;
	}
	.table_tr1 td:nth-child(4) span{
		display:block;
		width:150px;
	}
	.table_tr1 td:nth-child(5) span{
		display:block;
		width:150px;
	}
}

@media (min-width: 992px){
	.table_tr1 td:nth-child(1) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(2) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(3) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(4) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(5) span{
		display:block;
		width:200px;
	}
}
@media (min-width: 1200px){
	.table_tr1 td:nth-child(1) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(2) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(3) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(4) span{
		display:block;
		width:200px;
	}
	.table_tr1 td:nth-child(5) span{
		display:block;
		width:200px;
	}
}