/*blocks*/



.blocks_list_table{
	width:100%;
}
.blocks_list_table .ant-table-thead{
	
	background: #E1E5EA;
}
.blocks_list_table .ant-table-thead tr{
	height:64px;
	font-size:14px;
	color:#364458;
}


.blocks_list_table .ant-table-thead th{
	padding:0px 30px;
}

.blocks_list_table .ant-table-tbody tr{
	border-bottom:1px solid #DCE0E7;;
}
.blocks_list_table .ant-table-tbody td{
	padding:0px 30px;
	height:64px;
	color:#364458;
	word-wrap: break-word;
    word-break: break-all;
}
.blocks_list_table .ant-table-tbody td a{
	color:#31B59D;
}