/*header*/
.header{
	width:100%;
	height:60px;
	background:#080251;
}
.navbar{
	background: #080251;
}
.container_header{
	
	height:60px;
	line-height:60px;
	
}
.container_header .logo{
	width:200px;
	height:60px;
	line-height:60px;
	color:#fff;
	padding-left: 15px;
	
	
}
.container_header .logo img{
	
	margin-top: -4px;
}
.container_header .logo a{
	color:#fff;
	padding-left:10px;
	font-size: 18px;
	text-decoration: none;
}
.container_header .logo a:hover{
	color:#fff;
	padding-left:10px;
	font-size: 18px;
	text-decoration: none;
}
.container_header .menu {
	
	font-size:14px;
	background: #fff;

}
.container_header .menu ul{
  padding: 0px 20px;
}

.container_header .menu ul li{
	text-align: center;
	background: #080260;
	margin-bottom:5px;
	
}
.container_header .menu ul li a {
	color: #fff;
	padding: 20px 15px;
	background: #080251
}
.container_header .menu ul li a:hover {
	color:#fff;
	background: #080251
}

.menu_active a{
	color:#fff!important;
}

.container_header .language {
	width:120px;
	height:60px;
	font-size:14px;
	text-align:center;
	cursor:pointer;
}
.container_header .language:hover {
	cursor:#fff;
}
.container_header .language span {
	color:#8696AE;
}
.container_header .language img {
	padding: 5px 8px
}
.container_header .language ul {
	width: 120px;
    height: 88px;
	background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(116, 149, 200, 0.2);
    border-radius: 5px;
	position:absolute;
	z-index:1;
}
.container_header .language li {
	width: 120px;
    height: 44px;
	line-height:44px;
}
.container_header .menu ul li .lang_sel{
	width:100px;
}
.container_header .menu ul li .lang_sel li{
	width: 100px;
	text-align: left;
	border-radius: 5px;
}
.container_header .menu ul li .lang_sel li img{
	padding:5px 8px;
}
.container_header .menu ul li .lang_sel li:hover{
	background: #F3F2F6;
}
/*自适应*/
@media (min-width: 768px){
	.container_header .menu {
		background:transparent;
		width: auto;
		float:right;
    }
	.container_header .menu ul{
		padding:0px;
		
    }
	.container_header .menu ul li {
	    background:transparent;
	    margin:0;
	    
	}
	.container_header .menu ul li a {
		color:#8696AE;
	}

}
