.navbar{
	width:100%;
	height:50px;
	background:#255E8E
}

.container, .nav_container{
	height:50px;    
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
	.container, .nav_container {
	    width: 750px;
	}
}

@media (min-width: 992px){
	.container, .nav_container {
   		width: 970px;
	}
}

@media (min-width: 1200px){
	.container, .nav_container {
	    width: 1170px;
	}
}
.navbarHeader{
	width:250px;
	float:left;
}
.navbarBrand {
	width: 200px;
    height: 50px;
    float: left;
    font-size: 18px;
    line-height: 50px;
    color:#fff!important;
}
.navbarBrand img{
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	vertical-align: top;
}
.navbarBrand span{
	float:left;
	
}
@media (max-width: 767px){
	.navbarBrand {
	    position: absolute;
	    right: 0;
	    left: 0;
	    margin: auto;
	}
}

.navbarCollapse{
	display: none
}
@media (max-width: 768px){
	.navbar{	
		margin-bottom:50px;
		}

	.navbarCollapse {
		display: block;
		position: absolute;
	    width: 100%;
	    left: 50%;
	    margin-left: -50%;
		background: #fff;
		border-bottom:1px #ddd solid;
	    color: #555555;
	    margin-top: 50px;
	    z-index:100;
	}
	.navbarCollapse .navbarNav{
		background: #555;
		width:100%;
		height:100px;
	}
	.navbarCollapse .navbarNav li{
		width:100%;
		margin:0;
	}
	.navbarCollapse .navbarMenu {
		background: #555;
		width:100%;
		height:100px;
	}
	
	.navbarCollapse .navbarHeight{
		display: none
	}
	.navbarCollapse .navbarRight{
		padding: 0px 10px;
		width:100%;
	}
	.navbarCollapse .navbarLang{
		width: 100%;
		background: #555;
	}
	.navbarCollapse .navbarLang span{
		width: 100%;
    	float: none;
	}
	.navbarCollapse .navbarLang i{
		display: none
	}
	.navbarCollapse .navbarLang ul{
		width: 100%;
		margin:0;
	}
}

@media (min-width: 768px){
	.navbarCollapse {
	    overflow-y: visible;
	}
}

@media (min-width: 768px){
	.navbarCollapse {
		padding-left: 0;
	    padding-right: 0;
	    display: block;
	    height: auto;
	    padding-bottom: 0;
	    overflow: visible;
	}
}

.navbarNav{
	float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
    width:auto;
    height:50px;
}
.navbarNav a{
	color:#fff;
	font-size:16px;
}
.navScope{
	width:32px;
	height:50px;
	line-height:50px;
	float:left;
	margin-right:20px;
}
.navbarHeight{
	width:125px;
	margin-left:100px;
	float:left;
	font-size:16px;
	color:#fff;
	height: 50px;
    line-height: 50px;
}
.navbarRight{
	width:400px;
	margin: 0;
	height:50px;
	line-height: 50px;
	float:right;

}
.navbarMenu{
	width:100px;
	height:50px;
	line-height: 50px;
	color:#fff;
	font-size:16px;
	float:right;
}
.navbarLang{
	width:80px;
	height:50px;
	line-height: 50px;
	text-align:center;
	color:#fff;
	font-size:16px;
	float:left;
}
.navbarLang span{
	cursor:pointer;
	display: block;
    width: 80px;
    float: left;
}
.navbarLang ul{
	z-index: 100;
	color: #fff;
    position: absolute;
    background: #555;
    margin: 0;
    padding: 0;
    width: 100px;
    margin-top:50px;
}
.navbarLang ul li{
	cursor: pointer;
	height: 40px;
    line-height: 40px;
}
  