.button{
    cursor: pointer;
    width:45px;
    height:30px;
    line-height: 29px;
	position: relative;
    float: right;
    margin-top: 10px;
    background-color: #0697EA;
    border:1px #0697EA solid;
    border-radius: 4px;
    display: none;
    color:#fff;
}
@media (max-width: 767px){
	.button {
		position: absolute;
		left:5px;
		display: block;
        transition: all .25s ease;
		color: #fff;
	}
}
