/*common*/
@font-face {
  font-family: 'Bio Sans Bold';
  src: url('public/font/Flat-it+-+BioSans-SemiBold.otf');
}
@font-face {
  font-family: 'Bio Sans Regular';
  src: url('public/font/Flat-it+-+BioSans-Light.otf');
}
/*****/
*{
  margin:0;
  padding:0;
  font-family: Bio Sans Regular;
}
body{
  background:#EAEEF4;
  background-color:#EAEEF4!important
}
span{
  white-space: nowrap;
}
li{
  list-style:none
}
/****/



/*antd css*/
.ant-table-body{
  min-height:400px;
}
.ant-pagination{

}
.ant-pagination li{
  display: inline-block;
}



.ant-pagination-item{
  text-align: center;
  width:auto;
  min-width: 20px;
  margin: 0px 5px;
  cursor:pointer;
  outline: none;
}
.ant-pagination-item a{
  outline: none;
  color:#364458;
}

.ant-pagination-item a:hover{
     text-decoration: none;
}
.ant-pagination-item-active{
  
}

.ant-pagination-item-active a{
  padding: 8px 0px;
  border-bottom: 1px #364458 solid;
}

.ant-pagination-item-link{
    color:#364458;
   outline: none;
}
.anticon.anticon-double-right.ant-pagination-item-link-icon{
  display: none;
}
.anticon.anticon-double-left.ant-pagination-item-link-icon{
  display: none;
}

 .ant-pagination-prev,.ant-pagination-next{
  cursor:pointer;
  outline: none;
 }
 .ant-pagination-item-container{
      padding-top: 3px;
 }
/******/



/******/
.floatLeft{
  float:left
}
.floatRight{
  float:right
}
.wordBreak{
    word-break: break-all;
    white-space: normal;
    overflow-wrap: break-word;
}
.wordEllipsis{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.loadingBox{
    text-align: center;
    min-height: 500px;
}
.notFound{
  display: block;
  width: 100%;
  background: #fff;
  padding: 20px 0px;
}